/*@font-face {
    font-family: 'DK Crayon Crumble';
    src: url('../DK Crayon Crumble.eot');  IE9 Compat Modes 
    src: url('../DK Crayon Crumble.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
        url('../DK Crayon Crumble.woff') format('woff'),  Modern Browsers 
        url('../font/DK Crayon Crumble.ttf')  format('truetype')  Safari, Android, iOS 
        url('../DK Crayon Crumble.svg#svgFontName') format('svg');  Legacy iOS 
}*/

*{
    font-family: 'DK Crayon Crumble', Arial, Helvetica, sans-serif;
}

::-moz-selection {
    background-color: #000080;
    color: #fff;
}

::selection {
    background-color: #000080;
    color: #fff;
}


body {
    background: url('../img/back.png');
    padding-top: 15px;
}

#hero-front{
    min-height: 509px;
    margin-top: 25px;
}

#chalkboard{
    background: url('../img/blackboard2.jpg') no-repeat top center;
    color: #CCC;
    min-height: 600px;    
    text-shadow: 1px 1px 5px #000;
}

#chalkboard h1{
    font-size: 70px;
}

#chalkboard input{
    background-color: transparent;
    color: #CCC;

}

#chalkboard button.btn-large{    
    font-family: 'DK Crayon Crumble', Arial, Helvetica, sans-serif;
    font-size: 60px;
    height: 82px;
    padding: 30px 40px 30px 40px;  
    text-shadow: 1px 1px 5px #000;
    width: 380px;    
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.2),
        0 1px 1px rgba(0,0,0,0.4);

}

#chalkboard > *{
    margin-top: 40px;
}

#chalkboard input{   
    font-family: 'DK Crayon Crumble', Arial, Helvetica, sans-serif;
    font-size: 32px;
    height: 44px;
    line-height: normal;
    padding: 11px 19px;
}

#chalkboard input[class="input-large"], #chalkboard input[class="input-large valid"], #chalkboard input[class="input-large error"] {
    width: 340px;    
}

#chalkboard input[class="input-short"], #chalkboard input[class="input-short valid"], #chalkboard input[class="input-short error"]  {
    width: 147px;
}

label.error{
    /*background-color: #f2dede;*/  
    background-color:rgba(0,0,0,0.5);
    border-color: #eed3d7; 
    /*color: #b94a48;*/ 
    font-size: 24px; 
    margin: -70px 0 0 395px;
    padding: 7px;
    position: absolute;
    width: 200px; 
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; 
}

label.error:after, label.error:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

label.error:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: rgba(0,0,0,0.5);
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

#reminders {
    margin-top: 145px;
    min-height: 400px;
}

#reminders li {
    font-size: 31.5px;
    line-height: 1.5em;
}

input[type=text]{
    border-color: #666;
}

input[type=text]:focus{
    background-color: #CCC;
    border-color: #666;
    -moz-box-shadow: 0px 0px 6px #dfdfdf;
    -webkit-box-shadow: 0px 0px 6px #dfdfdf;
    box-shadow: 0px 0px 6px #dfdfdf;
}

#confirmText{
    line-height: 0.90em;
    width: 100%;
}

.typeahead{
    background-color: #ccc;
    border-color: oldlace;
}

.typeahead li {
    
    text-shadow: none;
    font-size: 36px;
    margin-bottom: 5px;    
    width: 380px;
}


.navbar{
    margin-bottom: 0px;
    width: 960px;
}

.navbar li{
    font-size: 24px;
}

.navbar a:hover{
    cursor: pointer;
}